/Cyclistic Ride Time.csv
/Cyclistic Stations.csv
/Cyclistic.csv
/Cyclistic1.csv
/Original Data
202301-divvy-tripdata.csv
202302-divvy-tripdata.csv
202303-divvy-tripdata.csv
202304-divvy-tripdata.csv
202305-divvy-tripdata.csv
202306-divvy-tripdata.csv
202307-divvy-tripdata.csv
202308-divvy-tripdata.csv
202309-divvy-tripdata.csv
202310-divvy-tripdata.csv
202311-divvy-tripdata.csv
202312-divvy-tripdata.csv
TripData2023.csv
